<div
  class="
    absolute
    top-[51px]
    lg:top-[58px]
    left-[-45px]
    lg:left-[300px]
    w-[77px]
    lg:w-[31px]
    h-[77px]
    lg:h-[31px]
    border-[1px]
    border-solid
    rounded-full
  "
>
</div>

<div
  class="
    absolute
    top-[51px]
    lg:top-[160px]
    left-[-45px]
    lg:left-[130px]
    w-[77px]
    lg:w-[31px]
    h-[77px]
    lg:h-[31px]
    border-[1px]
    border-solid
    rounded-full
  "
>
</div>

<div
  class="
    absolute
    top-[51px]
    lg:top-[210px]
    left-[-45px]
    lg:left-[100px]
    w-[77px]
    lg:w-[31px]
    h-[77px]
    lg:h-[31px]
    border-[1px]
    border-solid
    rounded-full
  "
>
</div>

<div
  class="
    absolute
    top-[29px]
    lg:top-[120px]
    left-[26px]
    lg:left-[-80px]
    w-[32px]
    lg:w-[122px]
    h-[32px]
    lg:h-[122px]
    border-[1px]
    border-solid
    rounded-full
  "
>
</div>

<div
  class="
    absolute
    bottom-[-50px]
    lg:bottom-[35px]
    left-[74px]
    lg:left-[150px]
    w-[122px]
    lg:w-[109px]
    h-[122px]
    lg:h-[109px]
    border-[1px]
    border-solid
    rounded-full
  "
>
</div>

<div
  class="
    lg:absolute
    lg:right-[90px]
    lg:top-[0px]
    lg:w-[109px]
    lg:h-[109px]
    lg:border-[1px]
    lg:border-solid
    lg:rounded-full
  "
>
</div>
<div
  class="
    lg:absolute
    lg:right-[208px]
    lg:top-[127px]
    lg:w-[51px]
    lg:h-[51px]
    lg:border-[1px]
    lg:border-solid
    lg:rounded-full
  "
>
</div>
<div
  class="
    lg:absolute
    lg:right-[-31px]
    lg:bottom-[125px]
    lg:w-[122px]
    lg:h-[122px]
    lg:border-[1px]
    lg:border-solid
    lg:rounded-full
  "
>
</div>